# Datos sensibles
data/
data_sheets/
cleaned_data/
informes/
supabase/migrations/

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Entorno
.env
.env.local

# NPM environment
dashboard/.env
dashboard/.env.local

# Supabase
supabase/.branches
supabase/.temp
